<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="login.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>

<body>
<a href="login.html"></a>
  <div class="login">
  <h1>Registration Form</h1>
    <form method="post">
    <font color="white"> First Name: <input type="text" name="u" placeholder="Firstname" required="required" />
    Last Name: <input type="text" name="u" placeholder="Lastname" required="required" />
    Email Address: <input type="text" name="u" placeholder="Username" required="required" />
    Password: <input type="password" name="p" placeholder="Password" required="required" /></font>
    <button type="submit" class="btn btn-primary btn-block btn-large">Register</button>

    </form>
</div>
  
    <script src="js/index.js"></script>

</body>
</html>
